In [1]:
import pandas as pd
import numpy as np

In [5]:
sales=pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\pydata\Sales.csv")
sales.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [8]:
sales.iloc[:,0].nunique()

17

In [13]:
sales.iloc[sales.iloc[:,7].idxmax()]

Brands                                    Apple
Models                       iPhone 13 Pro Max
Colors                                     Gold
Memory                                     6 GB
Storage                                    1 TB
Camera                                      Yes
Rating                                      NaN
Selling Price                            179900
Original Price                           179900
Mobile                 Apple iPhone 13 Pro Max
Discount                                      0
discount percentage                         0.0
Name: 323, dtype: object

In [14]:
sales.iloc[sales.iloc[:,7].idxmin()]

Brands                     Nokia
Models                       105
Colors                     Black
Memory                      4 MB
Storage                     4 MB
Camera                       Yes
Rating                       4.3
Selling Price               1000
Original Price              1000
Mobile                 Nokia 105
Discount                       0
discount percentage          0.0
Name: 1501, dtype: object

In [ ]:
# data2=pd.read_csv('file.tsv',sep='\t') for tsv

In [6]:
sales.tail(10)
sales.info()
sales.columns
sales.shape
sales.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

,Rating,Selling Price,Original Price,Discount,discount percentage
count,2970.000000,3114.000000,3114.000000,3114.000000,3114.000000
mean,4.243098,26436.625562,28333.473025,1896.847463,6.086788
std,0.271991,30066.892622,31525.599889,5337.126176,11.106776
min,2.300000,1000.000000,1000.000000,-8000.000000,-160.320641
25%,4.100000,9990.000000,10030.250000,0.000000,0.000000
50%,4.300000,15000.000000,16889.500000,0.000000,0.000000
75%,4.400000,28999.000000,31500.000000,2000.000000,9.836388
max,5.000000,179900.000000,189999.000000,75000.000000,70.610305

In [ ]:
sales.iloc[0] 
# gives a series output of the first row
sales.iloc[[0,7,89]]
# gives the rows at those indices
sales.iloc[100:200:2]
# slicing of rows and columns using start ,end and step values.
sales.iloc[:,0]
# selcting one column
sales.iloc[:,[0,1,2]]
# selcting multiple columns
sales.iloc[0:101,3:8]
# both rows and columns
sales.iloc[100,5]
# selecting a single value

'Yes'