In [3]:
import pandas as pd
import numpy as np

In [4]:
sales=pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\pydata\Sales.csv")
sales.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [8]:
sales.iloc[:,0].nunique()

17

In [13]:
sales.iloc[sales.iloc[:,7].idxmax()]

Brands                                    Apple
Models                       iPhone 13 Pro Max
Colors                                     Gold
Memory                                     6 GB
Storage                                    1 TB
Camera                                      Yes
Rating                                      NaN
Selling Price                            179900
Original Price                           179900
Mobile                 Apple iPhone 13 Pro Max
Discount                                      0
discount percentage                         0.0
Name: 323, dtype: object

In [14]:
sales.iloc[sales.iloc[:,7].idxmin()]

Brands                     Nokia
Models                       105
Colors                     Black
Memory                      4 MB
Storage                     4 MB
Camera                       Yes
Rating                       4.3
Selling Price               1000
Original Price              1000
Mobile                 Nokia 105
Discount                       0
discount percentage          0.0
Name: 1501, dtype: object

In [ ]:
# converting int to string

In [ ]:
# data2=pd.read_csv('file.tsv',sep='\t') for tsv

In [6]:
sales.tail(10)
sales.info()
sales.columns
sales.shape
sales.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

,Rating,Selling Price,Original Price,Discount,discount percentage
count,2970.000000,3114.000000,3114.000000,3114.000000,3114.000000
mean,4.243098,26436.625562,28333.473025,1896.847463,6.086788
std,0.271991,30066.892622,31525.599889,5337.126176,11.106776
min,2.300000,1000.000000,1000.000000,-8000.000000,-160.320641
25%,4.100000,9990.000000,10030.250000,0.000000,0.000000
50%,4.300000,15000.000000,16889.500000,0.000000,0.000000
75%,4.400000,28999.000000,31500.000000,2000.000000,9.836388
max,5.000000,179900.000000,189999.000000,75000.000000,70.610305

In [ ]:
sales.iloc[0] 
# gives a series output of the first row
sales.iloc[[0,7,89]]
# gives the rows at those indices
sales.iloc[100:200:2]
# slicing of rows and columns using start ,end and step values.
sales.iloc[0:27,:]
sales.iloc[:,0]
# selcting one column
sales.iloc[:,[0,1,2]]
# selcting multiple columns
sales.iloc[0:101,3:8]
# both rows and columns
sales.iloc[100,5]
# selecting a single value

'Yes'

In [42]:
df=sales.iloc[0:26,:]
df.shape

(26, 12)

In [43]:
import string
letters=list(string.ascii_uppercase)
df.index=letters
df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
B,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
C,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
D,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
E,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [47]:
df.loc[:,'Brands']

A     SAMSUNG
B       Nokia
C      realme
D     Infinix
E       Apple
F      GIONEE
G       Apple
H       Apple
I     SAMSUNG
J      Xiaomi
K     SAMSUNG
L       Apple
M      realme
N        OPPO
O        vivo
P        vivo
Q       Apple
R     SAMSUNG
S      Lenovo
T        ASUS
U    Motorola
V      realme
W      GIONEE
X      realme
Y      realme
Z      realme
Name: Brands, dtype: object

In [ ]:
df.isnull()
# identify missing values

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,False,False,False,False,False,False,False,False,False,False,False,False
B,False,False,False,False,False,False,False,False,False,False,False,False
C,False,False,False,False,True,False,False,False,False,False,False,False
D,False,False,False,False,False,False,False,False,False,False,False,False
E,False,False,False,False,False,False,False,False,False,False,False,False
F,False,False,False,False,False,False,False,False,False,False,False,False
G,False,False,False,False,False,False,True,False,False,False,False,False
H,False,False,False,False,False,False,False,False,False,False,False,False
I,False,False,False,False,False,False,False,False,False,False,False,False
J,False,False,False,False,False,False,False,False,False,False,False,False
K,False,False,False,False,False,False,False,False,False,False,False,False
L,False,False,False,False,False,False,False,False,False,False,False,False
M,False,False,False,False,False,False,False,False,False,False,False,False
N,False,False,False,False,False,False,False,False,False,False,False,False
O,False,False,False,False,False,False,False,False,False,False,False,False
P,False,False,False,True,False,False,False,False,False,False,False,False
Q,False,False,False,False,False,False,True,False,False,False,False,False
R,False,False,False,False,False,False,False,False,False,False,False,False
S,False,False,False,False,False,False,False,False,False,False,False,False
T,False,False,False,False,False,False,False,False,False,False,False,False
U,False,False,False,False,False,False,False,False,False,False,False,False
V,False,False,False,False,True,False,True,False,False,False,False,False
W,False,False,False,False,False,False,False,False,False,False,False,False
X,False,False,False,False,False,False,False,False,False,False,False,False
Y,False,False,False,False,True,False,False,False,False,False,False,False
Z,False,False,False,False,True,False,False,False,False,False,False,False

In [ ]:
df.notnull()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,True,True,True,True,True,True,True,True,True,True,True,True
B,True,True,True,True,True,True,True,True,True,True,True,True
C,True,True,True,True,False,True,True,True,True,True,True,True
D,True,True,True,True,True,True,True,True,True,True,True,True
E,True,True,True,True,True,True,True,True,True,True,True,True
F,True,True,True,True,True,True,True,True,True,True,True,True
G,True,True,True,True,True,True,False,True,True,True,True,True
H,True,True,True,True,True,True,True,True,True,True,True,True
I,True,True,True,True,True,True,True,True,True,True,True,True
J,True,True,True,True,True,True,True,True,True,True,True,True
K,True,True,True,True,True,True,True,True,True,True,True,True
L,True,True,True,True,True,True,True,True,True,True,True,True
M,True,True,True,True,True,True,True,True,True,True,True,True
N,True,True,True,True,True,True,True,True,True,True,True,True
O,True,True,True,True,True,True,True,True,True,True,True,True
P,True,True,True,False,True,True,True,True,True,True,True,True
Q,True,True,True,True,True,True,False,True,True,True,True,True
R,True,True,True,True,True,True,True,True,True,True,True,True
S,True,True,True,True,True,True,True,True,True,True,True,True
T,True,True,True,True,True,True,True,True,True,True,True,True
U,True,True,True,True,True,True,True,True,True,True,True,True
V,True,True,True,True,False,True,False,True,True,True,True,True
W,True,True,True,True,True,True,True,True,True,True,True,True
X,True,True,True,True,True,True,True,True,True,True,True,True
Y,True,True,True,True,False,True,True,True,True,True,True,True
Z,True,True,True,True,False,True,True,True,True,True,True,True

In [51]:
df.isnull().sum()

Brands                 0
Models                 0
Colors                 0
Memory                 1
Storage                4
Camera                 0
Rating                 3
Selling Price          0
Original Price         0
Mobile                 0
Discount               0
discount percentage    0
dtype: int64

In [ ]:
# gets the count of missing values and sums them then gets percetnage
total_missing=df.isnull().sum()
all_data=df.isnull().count()
percentage=total_missing/all_data*100
percentage

Brands                  0.000000
Models                  0.000000
Colors                  0.000000
Memory                  3.846154
Storage                15.384615
Camera                  0.000000
Rating                 11.538462
Selling Price           0.000000
Original Price          0.000000
Mobile                  0.000000
Discount                0.000000
discount percentage     0.000000
dtype: float64

In [57]:
df.dropna(inplace=True)
df.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\3935583654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

(19, 12)

In [58]:
df.fillna(0,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\2900052601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0,inplace=True)

In [62]:
df['Rating'].fillna((df['Rating'].mean()),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\3814429774.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna((df['Rating'].mean()),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\3814429774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating'].fillna((df['Rating'].mean()),inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, A to X
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               19 non-null     object
 1   Models               19 non-null     object
 2   Colors               19 non-null     object
 3   Memory               19 non-null     object
 4   Storage              19 non-null     object
 5   Camera               19 non-null     object
 6   Rating               19 non-null     float64
 7   Selling Price        19 non-null     int64
 8   Original Price       19 non-null     int64
 9   Mobile               19 non-null     object
 10  Discount             19 non-null     int64
 11  discount percentage  19 non-null     float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.9+ KB