In [1]:
import pandas as pd
import numpy as np

In [2]:
sales=pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\pydata\Sales.csv")
sales.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [8]:
sales.iloc[:,0].nunique()

17

In [13]:
sales.iloc[sales.iloc[:,7].idxmax()]

Brands                                    Apple
Models                       iPhone 13 Pro Max
Colors                                     Gold
Memory                                     6 GB
Storage                                    1 TB
Camera                                      Yes
Rating                                      NaN
Selling Price                            179900
Original Price                           179900
Mobile                 Apple iPhone 13 Pro Max
Discount                                      0
discount percentage                         0.0
Name: 323, dtype: object

In [14]:
sales.iloc[sales.iloc[:,7].idxmin()]

Brands                     Nokia
Models                       105
Colors                     Black
Memory                      4 MB
Storage                     4 MB
Camera                       Yes
Rating                       4.3
Selling Price               1000
Original Price              1000
Mobile                 Nokia 105
Discount                       0
discount percentage          0.0
Name: 1501, dtype: object

In [ ]:
# converting int to string

In [ ]:
# data2=pd.read_csv('file.tsv',sep='\t') for tsv

In [6]:
sales.tail(10)
sales.info()
sales.columns
sales.shape
sales.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

,Rating,Selling Price,Original Price,Discount,discount percentage
count,2970.000000,3114.000000,3114.000000,3114.000000,3114.000000
mean,4.243098,26436.625562,28333.473025,1896.847463,6.086788
std,0.271991,30066.892622,31525.599889,5337.126176,11.106776
min,2.300000,1000.000000,1000.000000,-8000.000000,-160.320641
25%,4.100000,9990.000000,10030.250000,0.000000,0.000000
50%,4.300000,15000.000000,16889.500000,0.000000,0.000000
75%,4.400000,28999.000000,31500.000000,2000.000000,9.836388
max,5.000000,179900.000000,189999.000000,75000.000000,70.610305

In [ ]:
sales.iloc[0] 
# gives a series output of the first row
sales.iloc[[0,7,89]]
# gives the rows at those indices
sales.iloc[100:200:2]
# slicing of rows and columns using start ,end and step values.
sales.iloc[0:27,:]
sales.iloc[:,0]
# selcting one column
sales.iloc[:,[0,1,2]]
# selcting multiple columns
sales.iloc[0:101,3:8]
# both rows and columns
sales.iloc[100,5]
# selecting a single value

'Yes'

In [42]:
df=sales.iloc[0:26,:]
df.shape

(26, 12)

In [43]:
import string
letters=list(string.ascii_uppercase)
df.index=letters
df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
B,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
C,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
D,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
E,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [47]:
df.loc[:,'Brands']

A     SAMSUNG
B       Nokia
C      realme
D     Infinix
E       Apple
F      GIONEE
G       Apple
H       Apple
I     SAMSUNG
J      Xiaomi
K     SAMSUNG
L       Apple
M      realme
N        OPPO
O        vivo
P        vivo
Q       Apple
R     SAMSUNG
S      Lenovo
T        ASUS
U    Motorola
V      realme
W      GIONEE
X      realme
Y      realme
Z      realme
Name: Brands, dtype: object

In [ ]:
df.isnull()
# identify missing values

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,False,False,False,False,False,False,False,False,False,False,False,False
B,False,False,False,False,False,False,False,False,False,False,False,False
C,False,False,False,False,True,False,False,False,False,False,False,False
D,False,False,False,False,False,False,False,False,False,False,False,False
E,False,False,False,False,False,False,False,False,False,False,False,False
F,False,False,False,False,False,False,False,False,False,False,False,False
G,False,False,False,False,False,False,True,False,False,False,False,False
H,False,False,False,False,False,False,False,False,False,False,False,False
I,False,False,False,False,False,False,False,False,False,False,False,False
J,False,False,False,False,False,False,False,False,False,False,False,False
K,False,False,False,False,False,False,False,False,False,False,False,False
L,False,False,False,False,False,False,False,False,False,False,False,False
M,False,False,False,False,False,False,False,False,False,False,False,False
N,False,False,False,False,False,False,False,False,False,False,False,False
O,False,False,False,False,False,False,False,False,False,False,False,False
P,False,False,False,True,False,False,False,False,False,False,False,False
Q,False,False,False,False,False,False,True,False,False,False,False,False
R,False,False,False,False,False,False,False,False,False,False,False,False
S,False,False,False,False,False,False,False,False,False,False,False,False
T,False,False,False,False,False,False,False,False,False,False,False,False
U,False,False,False,False,False,False,False,False,False,False,False,False
V,False,False,False,False,True,False,True,False,False,False,False,False
W,False,False,False,False,False,False,False,False,False,False,False,False
X,False,False,False,False,False,False,False,False,False,False,False,False
Y,False,False,False,False,True,False,False,False,False,False,False,False
Z,False,False,False,False,True,False,False,False,False,False,False,False

In [ ]:
df.notnull()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
A,True,True,True,True,True,True,True,True,True,True,True,True
B,True,True,True,True,True,True,True,True,True,True,True,True
C,True,True,True,True,False,True,True,True,True,True,True,True
D,True,True,True,True,True,True,True,True,True,True,True,True
E,True,True,True,True,True,True,True,True,True,True,True,True
F,True,True,True,True,True,True,True,True,True,True,True,True
G,True,True,True,True,True,True,False,True,True,True,True,True
H,True,True,True,True,True,True,True,True,True,True,True,True
I,True,True,True,True,True,True,True,True,True,True,True,True
J,True,True,True,True,True,True,True,True,True,True,True,True
K,True,True,True,True,True,True,True,True,True,True,True,True
L,True,True,True,True,True,True,True,True,True,True,True,True
M,True,True,True,True,True,True,True,True,True,True,True,True
N,True,True,True,True,True,True,True,True,True,True,True,True
O,True,True,True,True,True,True,True,True,True,True,True,True
P,True,True,True,False,True,True,True,True,True,True,True,True
Q,True,True,True,True,True,True,False,True,True,True,True,True
R,True,True,True,True,True,True,True,True,True,True,True,True
S,True,True,True,True,True,True,True,True,True,True,True,True
T,True,True,True,True,True,True,True,True,True,True,True,True
U,True,True,True,True,True,True,True,True,True,True,True,True
V,True,True,True,True,False,True,False,True,True,True,True,True
W,True,True,True,True,True,True,True,True,True,True,True,True
X,True,True,True,True,True,True,True,True,True,True,True,True
Y,True,True,True,True,False,True,True,True,True,True,True,True
Z,True,True,True,True,False,True,True,True,True,True,True,True

In [51]:
df.isnull().sum()

Brands                 0
Models                 0
Colors                 0
Memory                 1
Storage                4
Camera                 0
Rating                 3
Selling Price          0
Original Price         0
Mobile                 0
Discount               0
discount percentage    0
dtype: int64

In [ ]:
# gets the count of missing values and sums them then gets percetnage
total_missing=df.isnull().sum()
all_data=df.isnull().count()
percentage=total_missing/all_data*100
percentage

Brands                  0.000000
Models                  0.000000
Colors                  0.000000
Memory                  3.846154
Storage                15.384615
Camera                  0.000000
Rating                 11.538462
Selling Price           0.000000
Original Price          0.000000
Mobile                  0.000000
Discount                0.000000
discount percentage     0.000000
dtype: float64

In [57]:
df.dropna(inplace=True)
df.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\3935583654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

(19, 12)

In [58]:
df.fillna(0,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\2900052601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0,inplace=True)

In [62]:
df['Rating'].fillna((df['Rating'].mean()),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\3814429774.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna((df['Rating'].mean()),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6760\3814429774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating'].fillna((df['Rating'].mean()),inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, A to X
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               19 non-null     object
 1   Models               19 non-null     object
 2   Colors               19 non-null     object
 3   Memory               19 non-null     object
 4   Storage              19 non-null     object
 5   Camera               19 non-null     object
 6   Rating               19 non-null     float64
 7   Selling Price        19 non-null     int64
 8   Original Price       19 non-null     int64
 9   Mobile               19 non-null     object
 10  Discount             19 non-null     int64
 11  discount percentage  19 non-null     float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.9+ KB

In [5]:
sales.isnull().sum()

Brands                   0
Models                   0
Colors                   0
Memory                  43
Storage                 39
Camera                   0
Rating                 144
Selling Price            0
Original Price           0
Mobile                   0
Discount                 0
discount percentage      0
dtype: int64

In [11]:
missing=sales.isnull().sum()
totals=sales.isnull().count()
per=(missing/totals*100).round(2)
per

Brands                 0.00
Models                 0.00
Colors                 0.00
Memory                 1.38
Storage                1.25
Camera                 0.00
Rating                 4.62
Selling Price          0.00
Original Price         0.00
Mobile                 0.00
Discount               0.00
discount percentage    0.00
dtype: float64

In [22]:
# Extract the numeric part from the string 
sales['Memory'] = sales['Memory'].str.extract('(\d+)')

# Convert the extracted string numbers to float (or int)
sales['Memory'] = pd.to_numeric(sales['Memory'], errors='coerce')


sales['Memory'].fillna((sales['Memory'].median()),inplace=True)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_4704\2762277082.py:2: SyntaxWarning: invalid escape sequence '\d'
  sales['Memory'] = sales['Memory'].str.extract('(\d+)')
C:\Users\Admin\AppData\Local\Temp\ipykernel_4704\2762277082.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Memory'].fillna((sales['Memory'].median()),inplace=True)

In [21]:
# Extract the numeric part from the string 
sales['Storage'] = sales['Storage'].str.extract('(\d+)')

# Convert the extracted string numbers to float (or int)
sales['Storage'] = pd.to_numeric(sales['Storage'], errors='coerce')

sales['Storage'].fillna((sales['Storage'].median()),inplace=True)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_4704\3252885640.py:2: SyntaxWarning: invalid escape sequence '\d'
  sales['Storage'] = sales['Storage'].str.extract('(\d+)')
C:\Users\Admin\AppData\Local\Temp\ipykernel_4704\3252885640.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Storage'].fillna((sales['Storage'].median()),inplace=True)

In [15]:
sales.isnull().sum()

Brands                   0
Models                   0
Colors                   0
Memory                   0
Storage                  0
Camera                   0
Rating                 144
Selling Price            0
Original Price           0
Mobile                   0
Discount                 0
discount percentage      0
dtype: int64

In [4]:
sales.groupby('Brands')['Selling Price'].mean()

Brands
ASUS            20326.915254
Apple           81985.560724
GIONEE           7135.093023
Google Pixel    61391.862069
HTC             28314.381818
IQOO            37190.000000
Infinix         11092.178808
LG              19323.181818
Lenovo          10083.842975
Motorola        16357.466667
Nokia            9428.657277
OPPO            18560.488462
POCO            16870.621622
SAMSUNG         24296.248957
Xiaomi          16941.909091
realme          16396.535168
vivo            23866.241935
Name: Selling Price, dtype: float64

In [5]:
sales.groupby('Brands')['Models'].count()

Brands
ASUS            118
Apple           387
GIONEE          129
Google Pixel     29
HTC              55
IQOO              5
Infinix         151
LG               99
Lenovo          121
Motorola        105
Nokia           213
OPPO            260
POCO             74
SAMSUNG         719
Xiaomi          198
realme          327
vivo            124
Name: Models, dtype: int64

In [9]:
sales.groupby('Brands')['Discount'].max().sort_values(ascending=False)

Brands
Motorola        75000
ASUS            57500
LG              50001
Apple           45901
SAMSUNG         40000
GIONEE          19600
Google Pixel    17990
OPPO            15000
Nokia           14028
vivo            11891
Xiaomi           8000
Lenovo           7400
IQOO             7000
POCO             6000
realme           5500
Infinix          3000
HTC                 0
Name: Discount, dtype: int64

In [24]:
sales.groupby('Brands')['Selling Price'].sum().sort_values(ascending=False)

Brands
Apple           31728412
SAMSUNG         17469003
realme           5361667
OPPO             4825727
Xiaomi           3354498
vivo             2959414
ASUS             2398576
Nokia            2008304
LG               1912995
Google Pixel     1780364
Motorola         1717534
Infinix          1674919
HTC              1557291
POCO             1248426
Lenovo           1220145
GIONEE            920427
IQOO              185950
Name: Selling Price, dtype: int64

In [29]:
sales.groupby('Brands')[['Memory','Storage']].max()

              Memory  Storage
Brands
ASUS            18.0    512.0
Apple            6.0    512.0
GIONEE         512.0    128.0
Google Pixel     6.0    128.0
HTC            512.0    128.0
IQOO            12.0    256.0
Infinix          8.0    256.0
LG             768.0    128.0
Lenovo         512.0    512.0
Motorola       512.0    256.0
Nokia          768.0    256.0
OPPO            12.0    256.0
POCO             8.0    256.0
SAMSUNG        768.0    512.0
Xiaomi           8.0    256.0
realme          12.0    256.0
vivo            12.0    256.0

In [32]:
# pd.pivot_tables
avg_price=pd.pivot_table(
    sales,
    values='Selling Price',
    index='Brands',
    columns='Memory',
    aggfunc='mean',
    fill_value=0
)
avg_price

Memory,1.0,2.0,3.0,4.0,6.0,8.0,10.0,12.0,16.0,18.0,30.0,32.0,46.0,64.0,100.0,128.0,153.0,512.0,768.0
Brands,,,,,,,,,,,,,,,,,,,
ASUS,5411.000000,8031.407407,12274.535714,19082.333333,29132.333333,44540.666667,0.000000,57570.428571,69999.000000,79999.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
Apple,51602.050000,45155.164557,60269.550000,94185.856354,137559.574468,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
GIONEE,5393.617647,7217.285714,8456.341463,10409.500000,9627.000000,2212.666667,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,2820.000,0.0,0.000000,0.0,2646.000000,0.0
Google Pixel,0.000000,23874.000000,0.000000,70825.869565,31999.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
HTC,16960.950000,30349.125000,28983.000000,44276.333333,54590.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,9990.000000,0.0
IQOO,0.000000,0.000000,0.000000,0.000000,0.000000,36490.000000,0.000000,39990.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
Infinix,0.000000,7737.347826,9260.411765,11565.666667,13759.869565,17124.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
LG,10547.000000,10997.705882,16962.652174,22492.483871,41346.700000,29999.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,8432.666667,13299.0
Lenovo,9498.565217,8509.031250,10443.810811,12267.600000,18999.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,5759.666667,0.0
Motorola,8784.714286,11019.200000,14602.642857,12857.311111,25988.375000,39199.000000,0.000000,64999.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,15464.500000,0.0
Nokia,10602.555556,7822.906250,11253.942857,9694.452055,21038.000000,3624.777778,0.000000,0.000000,3442.266667,0.0,0.0,2811.333333,0.0,3684.125,0.0,3023.666667,0.0,8011.750000,7990.0
OPPO,12488.333333,9881.055556,12145.756757,15794.702381,19465.672727,27932.303571,0.000000,40492.250000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
POCO,0.000000,0.000000,7999.000000,11561.500000,17459.526316,23999.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
SAMSUNG,8967.486486,13457.148649,18613.790123,18313.035503,26203.819549,45073.292035,2062.666667,114673.250000,59512.000000,0.0,3400.0,3446.333333,2949.5,3421.200,1949.0,1450.000000,1549.0,5101.913043,4960.0
Xiaomi,0.000000,7883.285714,9454.354839,12919.823529,21188.981818,30236.833333,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
realme,0.000000,7256.142857,9479.500000,12309.504425,17392.365079,23991.753623,0.000000,35776.777778,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0
vivo,0.000000,22190.000000,21629.562500,20744.023810,22323.000000,25030.833333,0.000000,38006.666667,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.000000,0.0,0.000000,0.0

In [ ]:
# Handling time series data

air_data['data.utc']=pd.to_datetime(air_data['data_utc'],format= '%YYYY-%MM-%DD %HH:%MM:%SS')
sec_df=air_date.asfrequency('S')
sec_df